<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Online</title>
  <!-- CSS  -->
  <link rel="stylesheet" href="/css/style.min.css" />
  <script src="https://js.stripe.com/v3/"></script>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


</head>

<body>

  <nav>
    <div class="container">
      <a href="h3" class="nav__logo">
        <h3>H2HOthers - Loja Online</h3>
      </a>

      <ul id="nav__items">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/voluntario">Página do Voluntário</a></li>
        <li><a href="/cart">
            <ion-icon name="basket"></ion-icon>Carrinho - <span>0</span>
          </a></li>
      </ul>

      <button id="open__nav-btn"><i class="bx bx-menu"></i></button>
      <button id="close__nav-btn"><i class="bx bx-x"></i></button>
    </div>
  </nav>


  <header>
    <div class="container_3">
      <div class="products-container">
        <div class="product-header">
          <h5 class="product-title">PRODUTO</h5>
          <h5 class="price">PREÇO</hi>
            <h5 class="quantity">QUANTIDADE</h5>
            <h5 class="total">TOTAL</h5>
        </div>
        <div class="products">

        </div>
        <div class="buyBtnCtn">
          <button id="startCheckout" class="startCheckout">Checkout</button>
        </div>
      </div>
    </div>
  </header>


  <footer>

  </footer>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="js/main.js"></script>
  <script src="js/payment.js"></script>
</body>

<footer>
  <div class="container">
    <article>
      <a href="#" class="footer__logo">
        <h3>H2HOthers</h3>
      </a>
      <p>
        Plataforma criada para fins académicos
      </p>
      <div>
        <i class="bx bxs-phone"></i>
        <small>+351 211111111</small>
      </div>
      <div>
        <i class="bx bx-mail-send"></i>
        <small>ual.h2hothers@gmail.com</small>
      </div>
    </article>

    <article>
      <h3>Suporte</h3>
      <a href="#">Politica de Privacidade</a>
      <a href="#">Politica de Cookies</a>
      <a href="#">Politica de Compras</a>
      <a href="#">Condições Gerais</a>
    </article>

    <article>
      <h3>Menu</h3>
      <a href="#">Início</a>
      <a href="#solidariedade">Solidariedade</a>
      <a href="#eventos">Eventos</a>
      <a href="#voluntariado">Voluntariado UAL</a>
      <a href="#testemunhos">Testemunhos</a>
      <a href="#inscrever" class="btn-primary">Inscreva-se já</a>
    </article>

    <article>
      <h3>Contate-nos</h3>
      <p>Noticias</p>
      <p>FAQs</p>
      <div class="footer__socials">
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
      </div>
    </article>
  </div>
  <div class="copyright">
    <small>&copy; Copyright H2HOthers. All Rights Reserved.</small>
  </div>
</footer>

</html>