<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>H2HOthers</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="/css/style.min.css" />

  <!--  ICONSCOUT CDN  -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

  <!--  BOXICONS CDN   -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- Cards-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body onload="loadComments()">
  <nav>
    <div class="container">
      <a href="#"> <img src="../images/logo_final.png" alt="Card image" style="width:20%"></a>

      <ul id="nav__items">
        <li><a href="#">Início</a></li>
        <li><a href="#solidariedade">Solidariedade</a></li>
        <li><a href="#eventos">Eventos</a></li>
        <li><a href="#voluntariado">Voluntariado UAL</a></li>
        <li><a href="#testemunhos">Testemunhos</a></li>
        <li><a class="btn" onclick="window.location.href ='login';">Login</a></li>
        <li><a class="btn" onclick="window.location.href ='registar';">Registo</a></li>
      </ul>

      <button id="open__nav-btn"><i class="bx bx-menu"></i></button>
      <button id="close__nav-btn"><i class="bx bx-x"></i></button>
    </div>
  </nav>

  <!--====================FIM DA NAV====================-->

  <header>
    <div class="container">
      <div class="header__content">
        <h1>Ser solidário, está nas mãos de cada um de nós</h1>
        <p>
          A plataforma Help to Help Others tem como objetivo principal criar uma comunidade de Voluntários
          com a finalidade de apoiar Instituições de Solidariedade Social da Zona da Grande Lisboa e divulgar ações
          propostas pelas mesmas.
          Partilhamos igualmente os eventos organizados pela H2HOthers com o objetivo de apoiar a sociedade,
          fomentando o espirito de entreajuda na comunidade universitária.
          <br>
          <br>
          Caso represente uma Associação ou um possivel Patrocinador, pressione o botão abaixo para se inscrever

        </p>
        <br>
        <a href="#inscrever" class="btn1 btn4">Sou uma Associação ou Patrocinador</a>
      </div>
      <div class="header__image">
        <img src="/images/maos.jpg" alt="Header Image" />
      </div>
    </div>
  </header>

  <!--====================FIM DO HEADER====================-->

  <section id="solidariedade">
    <h2>As nossas áreas de atuação</h2>
    <p>
      A nossa estratégia de acção passa por vários Projectos na área de Solidariedade Social:
    </p>


    <!-- Modal content -->
    <div id="open-modal" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>De mãe para mãe</h1>
        <img src="/images/mae_para_mae.jpg" alt="Header Image" />
        <div>A H2HOthers acompanha famílias desfavorecidas e apoia as mães de modo a que a fase de gravidez,
          nascimento do bebé e apoio pós parto seja um fator de melhoria da sua vida e da sua condição familiar.
          Dispomos de um Banco de Voluntários compostos por equipas multidisciplinares, entre elas Enfermeiras
          especializadas
          e Psicólogos que fazem o seu acompanhamento do início da gravidez até ao fim do processo de adaptação do bebé
          ao seu meio familiar.
          Os parceiros e patrocinadores permitem-nos também o apoio com bens essenciais a estas famílias.
        </div>
      </div>
    </div>

    <div id="open-modal2" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>Dá-me a tua mão</h1>
        <img src="/images/dame_mao.jpg" alt="Header Image" />
        <div>Desenvolvemos projetos de prevenção para crianças que vivem com as suas famílias biológicas
          mas encontram-se em risco de privação de cuidados parentais. São promovidas competências de cuidado parental
          e potenciadas dinâmicas de proteção que permitam o fortalecimento das famílias de origem com o objetivo de
          assegurar
          o bem estar das suas crianças e jovens, tais como acompanhamento psicossocial, capacitação parental individual
          ou em Domicilio.
          Paralelamente, intervimos na comunidade através da dinamização de fóruns comunitários, oficinas de formação
          e ações de sensibilização e promoção dos Direitos da Criança.
        </div>
      </div>
    </div>

    <div id="open-modal3" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>Vem trabalhar comigo</h1>
        <img src="/images/vem_trabalhar.jpg" alt="Header Image" />
        <div>Através da Bolsa de Voluntários e Parcerias da H2Others trabalhamos com jovens
          entre os 17 e os 23 anos que têm menos oportunidades e estão em risco de exclusão social e educativa.
          O objetivo é que, após a Formação, treino de competências e acompanhamento previstos no projeto, os jovens
          consigam mudar
          as suas vidas por dominarem as ferramentas de empregabilidade com mais facilidade, rapidez e flexibilidade.
          O acompanhamento dos nossos Voluntários é crucial nesta fase da vidas destes jovens criando uma ligação como
          Mentores e Mentees.
        </div>
      </div>
    </div>

    <div id="open-modal4" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>O excesso que permite alimentar!</h1>
        <img src="/images/excesso_comida.jpg" alt="Header Image" />
        <div>Uma das preocupações da H2HOthers é manter uma economia circular e solidária.
          Para isso, foi criada uma ponte humana entre o excesso e a necessidade com a ajuda de uma rede
          de Parcerias de fornecimento de produtos alimentares perecíveis e em fim de vida.
          Esta rede permite-nos ter acesso diário a alimentos que ainda se encontram em bom estado de consumo
          e que são distribuídos a famílias carenciadas através dos nossos Voluntários.
        </div>
      </div>
    </div>

    <div id="open-modal5" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>Veste-te de Laranja!</h1>
        <img src="/images/laranja.jpg" alt="Header Image" />
        <div>Tal como a maioria das Associações, a preocupação ambiental
          está presente no dia a dia da H2HOthers.
          Este Projeto nasceu num Pomar de Laranjas em Coruche e a ideia de Economia Circular
          com o objetivo de oferecer alguma estabilidade financeira, foi imediatamente posta em pratica.
          Os nossos Voluntários recolhem as laranjas no Pomar e entregam na RDD Textiles (Parceria) onde são
          transformadas
          em matéria prima para a criação de vestuário. Até a gigante industria de moda H&M já demonstrou interesse em
          trabalhar em parceria com a Espresa.


        </div>
      </div>
    </div>

    <div id="open-modal6" class="modal-window">
      <div>
        <a href="#solidariedade" title="Close" class="modal-close">Fechar</a>
        <h1>É tempo de reciclar</h1>
        <img src="/images/vamos_reciclar.jpg" alt="Header Image" />
        <div>O aumento acelerado da população do planeta aliado ao consumo exagerado de produtos e ao encaminhamento
          incorreto de resíduos,
          têm contribuído para um grave problema ambiental: a contínua produção de lixo.
          A H2HOthers investe na Formação dos nossos Voluntários e jovens provenientes do Projeto
          "Jovem, vem trabalhar comigo!" nas áreas de Costura, Restauração de Móveis e livros antigos.
          Os artigos a reciclar são doados tanto por Voluntários como Instituições e após o devido tratamento
          na nossa Oficina e Atelier são vendidos on-line e nos Mercados e Feiras semanais na Zona de Lisboa.
        </div>
      </div>
    </div>


    <div class="container">
      <a href="#open-modal">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>De mãe para mãe</h4>

            <small>A H2HOthers acompanha famílias desfavorecidas e apoia as mães de modo a que a fase de gravidez,
              nascimento do bebé e apoio pós parto seja um fator de melhoria da sua vida e da sua condição
              familiar...</small>
            <p></p>
            {{!-- <a class="btn-modal" href="#open-modal">Ver +</a> --}}
          </div>
        </article>
      </a>

      <a href="#open-modal2">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>Dá-me a tua mão</h4>
            <small>Desenvolvemos projetos de prevenção para crianças que vivem com as suas famílias
              biológicas mas encontram-se em risco de privação de cuidados parentais.
              São promovidas competências de cuidado parental...</small>
          </div>

        </article>
      </a>

      <a href="#open-modal3">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>Vem trabalhar comigo</h4>
            <small>Através da Bolsa de Voluntários e Parcerias da H2Others trabalhamos com jovens
              entre os 17 e os 23 anos que têm menos oportunidades e estão em risco de exclusão social e educativa.
              O objetivo é que, após a Formação... </small>
          </div>
        </article>
      </a>

      <a href="#open-modal4">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>O excesso que permite alimentar!</h4>
            <small>Uma das preocupações da H2HOthers é manter uma economia circular e solidária.
              Para isso, foi criada uma ponte humana entre o excesso e a necessidade com
              a ajuda de uma rede de Parcerias de fornecimento... </small>
          </div>
        </article>
      </a>

      <a href="#open-modal5">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>Veste-te de Laranja!</h4>
            <small>Tal como a maioria das Associações, a preocupação ambiental está
              presente no dia a dia da H2HOthers.
              Este Projeto nasceu num Pomar de Laranjas em Coruche e a ideia de Economia Circular com o objetivo
              de...</small>
          </div>
        </article>
      </a>

      <a href="#open-modal6">
        <article>
          <i class='bx bx-target-lock'></i>
          <div>
            <h4>É tempo de Reciclar</h4>
            <small>O aumento acelerado da população do planeta aliado ao consumo exagerado de produtos e ao
              encaminhamento incorreto de resíduos têm contribuído
              para um grave problema ambiental: a contínua produção de lixo.
            </small>
          </div>
        </article>
      </a>
    </div>
  </section>

  <!--====================FIM DA SECCAO SOLIDARIEDADE ====================-->

  <section id="voluntariado">
    <h2>Área do Voluntário</h2>
    <p>
      Espaço reservado a utilizadores registados - conteúdo exclusivo
    </p>

    <div class="container voluntariado-container">
      <div class="div voluntariado-left">

        <video width="600" controls="true" autoplay="autoplay" loop="true" muted defaultmuted playsinline>
          <source src="../videos/voluntario.mp4" type="video/mp4">

          Your browser does not support HTML video.
        </video>
      </div>

      <div class="div voluntariado-right">
        <h1>Conteúdos Disponiveis para Voluntários</h1>
        <a class="btn" onclick="window.location.href ='login';">Login</a>
        <p>Após efetuar o registo, os voluntários têm acesso a uma página dedicada inteiramente a conteudos da H2HOthers
          bem
          como a uma loja online onde poderão adquirir artigos de merchandising cujas receitas reverterão a favor das
          iniciativas
          organizadas pela associação.</p>
        <div class="voluntariado__cards">
          <article class="voluntariado__card">
            <span class="span volundariado__icon">
              <i class="uil uil-store"></i>
            </span>
            <p>Loja Online</p>
          </article>

          <article class="voluntariado__card">
            <span class="span volundariado__icon">
              <i class="uil uil-calendar-alt"></i>
            </span>
            <p>Eventos</p>
          </article>

          <article class="voluntariado__card">
            <span class="span volundariado__icon">
              <i class="uil uil-comment-alt-dots"></i>
            </span>
            <p>Feedback</p>
          </article>
        </div>
      </div>
    </div>
  </section>



  <!--====================FIM DA SECCAO VOLUNTARIADO ====================-->

  <section id="eventos">
    <h2>Divulgação de Eventos Solidários</h2>
    <p>
      Neste espaço partilhamos os eventos organizados por outras entidades da zona da Grande Lisboa
      que se juntaram à H2HOthers
    </p>

    <div class="container">
      <article>
        <div class="eventos__image">
          <img src="./images/evento1.jpg" alt="Evento 1" />
        </div>
        <div class="eventos__details">
          <h4>Oportunidades de Voluntariado</h4>
          <small>Bolsa de Voluntariado</small>
        </div>
        <div class="eventos__socials">
          <a href="https://bolsadovoluntariado.pt/" target="blank"><i class="bx bx-world"></i></a>
        </div>
      </article>

      <article>
        <div class="eventos__image">
          <img src="./images/evento2.jpg" alt="Evento 2" />
        </div>
        <div class="eventos__details">
          <h4>Dia Solidário</h4>
          <small>Just a Change</small>
        </div>
        <div class="eventos__socials">
          <a href="https://www.justachange.pt/all-in" target="blank"><i class="bx bx-world"></i></a>
        </div>
      </article>

      <article>
        <div class="eventos__image">
          <img src="./images/evento3.jpg" alt="Evento 3" />
        </div>
        <div class="eventos__details">
          <h4>Village Impact Program</h4>
          <small>Just a Change</small>
        </div>
        <div class="eventos__socials">
          <a href="https://www.justachange.pt/all-in" target="blank"><i class="bx bx-world"></i></a>
        </div>
      </article>

      <article>
        <div class="eventos__image">
          <img src="./images/evento4.jpg" alt="Evento 4" />
        </div>
        <div class="eventos__details">
          <h4>Turnos Solidários</h4>
          <small>Just a Change</small>
        </div>
        <div class="eventos__socials">
          <a href="https://www.justachange.pt/all-in" target="blank"><i class="bx bx-world"></i></a>
        </div>
      </article>
    </div>
  </section>

  <!--====================FIM DA SECCAO EVENTOS ====================-->

  <section id="testemunhos" class="swiper mySwiper">
    <h2>O que dizem os nossos voluntários</h2>
    <p>
      Nesta seccção apresentamos os comentários dos Voluntários
      inscritos na nossa plataforma
    </p>
    <div id="comments" class="swiper-wrapper">

    </div>
    <div class="swiper-pagination"></div>
  </section>

  <!--====================FIM DA SECCAO TESTEMUNHOS ====================-->

  <section id="inscrever">
    <div class="container">
      <div class="info">
        <h2>Inscreva-se</h2>
        <p>
          Espaço reservado para a inscrição de Associações e Patrocinadores
        </p>


        <article>
          <div class="info__icon">
            <i class="bx bxs-group"></i>
          </div>
          <div>
            <h4>Associações</h4>
            <small>
              Se representa uma associação e gostaria que a H2HOthers colaborasse nos seus projetos
              ou iniciativas, inscreva-se e entraremos em contato, tão breve quanto possivel.
            </small>
          </div>
        </article>
        <article>
          <div class="info__icon">
            <i class="bx bx-money-withdraw"></i>
          </div>
          <div>
            <h4>Patrocinadores</h4>
            <small>
              A H2HOthers procura Patrocinadores para os seus projetos
              e para participar igualmente em iniciativas de outras associações.
              Se pretender colaborar conosco, inscreva-se,
              a H2HOthers agradece!
            </small>
          </div>
        </article>
      </div>
      <form action="https://formspree.io/f/xvolwgnw" method="POST" { }>
        <div class="form__group">
          <label for="name">Nome / Designação Social</label>
          <input type="text" placeholder="Introduza o seu nome ou designação social" name="Nome da Associação" id="name"
            required />
        </div>
        <div class="form__group">
          <label for="phone">Telefone</label>
          <input type="number" placeholder="Introduza o seu nº de telefone" name="Contato do Voluntário" id="phone"
            required />
        </div>
        <div class="form__group">
          <label for="date">Data de Inscrição</label>
          <input type="date" placeholder="Escolha uma data" name="Data" id="date" required />
        </div>
        <div class="form__group">
          <label for="email">E-mail</label>
          <input type="text" placeholder="Introduza o seu e-mail" name="E-mail do Voluntário" id="email" required />
        </div>
        <div class="form__group">
          <label for="participation">Tipo de Participação</label>
          <select name="Participação" id="participation" required>
            <option value="Voluntariado">Associação</option>
            <option value="Patrocinador">Patrocinador</option>
          </select>
        </div>
        <div class="form__group">
          <label for="message">Mensagem adicional</label>
          <textarea name="Mensagem Adicional" id="message" rows="6" placeholder="Adicione uma mensagem"
            required></textarea>
        </div>
        <input type="submit" value="Submeter pedido" class="btn-primary" />
      </form>
    </div>
  </section>

  <!--====================FIM DA SECCAO INSCREVER ====================-->

  <footer>
    <div class="container">
      <article>
        <a href="#" class="footer__logo">
          <h3>H2HOthers</h3>
        </a>
        <p>
          Plataforma criada para fins académicos
        </p>
        <div>
          <i class="bx bxs-phone"></i>
          <small>+351 211111111</small>
        </div>
        <div>
          <i class="bx bx-mail-send"></i>
          <small>ual.h2hothers@gmail.com</small>
        </div>
      </article>

      <article>
        <h3>Suporte</h3>
        <a href="#modalprivacidade">Politica de Privacidade</a>
        <a href="#modalcookies">Politica de Cookies</a>
        <a href="#modalcompras">Politica de Compras</a>
      </article>

      <article>
        <h3>Menu</h3>
        <a href="#">Início</a>
        <a href="#solidariedade">Solidariedade</a>
        <a href="#eventos">Eventos</a>
        <a href="#voluntariado">Voluntariado UAL</a>
        <a href="#testemunhos">Testemunhos</a>
        <a href="#inscrever" class="btn-primary">Inscreva-se já</a>
      </article>

      <article>
        <h3>Contate-nos</h3>
        <div class="footer__socials">
          <a href="https://twitter.com/BrunoFe06353884" target="blank"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/H2HOthers" target="blank"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/ual.h2hothers/" target="blank"><i class="bx bxl-instagram"></i></a>
        </div>
        <li><a class="btn_admin" onclick="window.location.href ='login_admin';">Página do Administrador</a></li>
      </article>
    </div>
    <div class="copyright">
      <small>&copy; Copyright H2HOthers. All Rights Reserved.</small>
    </div>
  </footer>


  <div id="modalprivacidade" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Privacidade e Proteção de Dados pessoais</h1>
      <img src="/images/data_privacy.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        QUEM SOMOS?
        <br>
        <br>
        A H2HOthers atua na área da solidariedade social e tem como objectivos permitir às instituições da Zona de
        Lisboa melhorarem os serviços prestados aos beneficiários, mobilizar e facilitar o envolvimento da comunidade
        e outros que pretendam associar-se com a sua boa vontade, colocando à
        disposição das instituições de solidariedade social o seu trabalho, o seu conhecimento, a sua experiência, os
        produtos e serviços que produzem ou fornecem.
        <br>
        <br>
        A H2HOthers propõe-se assim contribuir para melhorar o desempenho das instituições interessadas, aumentando a
        eficiência dos seus recursos e permitindo um maior apoio às pessoas que assistem.
        <br>
        <br>
        Integram a H2HOthers a Bolsa do Voluntariado, o Banco de Bens Doados e o Banco de Associações inscritas e
        patrocinadores.
        <br>
        <br>
        A H2HOthers está empenhada em proteger os dados pessoais dos seus parceiros (Voluntários, Entidades,
        Instituições beneficiárias, Patrocinadores e outros, que com eles contactam ou interagem em todas as situações
        em
        que ocorra um tratamento de dados pessoais tendo, neste contexto, aprovado a presente Política de Privacidade, a
        qual tem subjacente o seu compromisso em respeitar as regras de proteção de dados pessoais, nos termos do novo
        Regulamento Geral sobre a Proteção de Dados (RGPD).
        <br>
        <br>
        PORQUÊ ESTA POLÍTICA DE PRIVACIDADE?
        <br>
        <br>
        Esta Política de Privacidade pretende dar a conhecer aos nossos parceiros (enumerados acima) as regras gerais de
        privacidade e tratamento dos seus dados pessoais, que recolhemos e tratamos no estrito respeito e cumprimento do
        RGPD.
        <br>
        <br>
        A H2HOthers respeita as melhores práticas no domínio da segurança e da proteção dos dados pessoais, tendo para o
        efeito aprovado um exigente programa, capaz de acautelar a proteção dos dados que nos são disponibilizados por
        todos aqueles que de alguma forma se relacionam com a instituição.
        <br>
        <br>
        A H2HOthers tem um Delegado para a Proteção dos Dados Pessoais, responsável pela implementação e verificação
        desta Política de Privacidade, bem como pela definição de regras claras de tratamento de dados pessoais,
        assegurando que todos os que nos confiam o tratamento dos seus dados pessoais, tenham conhecimento da forma como
        os mesmos são tratados e quais os direitos que lhes assistem nesta matéria.
        <br>
        <br>
        Leia, por favor, esta Política de Privacidade com atenção pois ao disponibilizar os seus dados pessoais, seja
        por escrito, por mail ou acedendo ao site, está a autorizar a recolha, uso e divulgação dos mesmos, de acordo
        com as regras aqui definidas.
        <br>
        <br>
        O QUE ABRANGE ESTA POLÍTICA DE PRIVACIDADE?
        <br>
        <br>
        Esta Política de Privacidade aplica-se exclusivamente à recolha e tratamento de dados pessoais efetuados pela
        H2HOthers.
        <br>
        <br>
        No website da H2HOthers poderá encontrar links de acesso a outros websites que são alheios à H2HOthers. A
        disponibilização de tais links é efetuada de boa fé, não podendo a H2HOthers ser responsabilizado pela recolha e
        tratamento de dados pessoais efetuados nesses websites, nem ser responsabilizado pela exatidão, credibilidade e
        funcionalidades de websites pertencentes a terceiros.
        <br>
        <br>
        Assim, a disponibilização de links para outros websites alheios à H2HOthers não implica qualquer assunção de
        responsabilidade relativamente a tais websites, não lhes sendo, por conseguinte aplicável a presente Política de
        Privacidade.
        <br>
        <br>
        O QUE SÃO DADOS PESSOAIS?
        <br>
        <br>
        Quando nos referimos a dados pessoais referimo-nos a qualquer informação, de qualquer natureza e
        independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou
        identificável.
        <br>
        <br>
        É considerada identificável a pessoa que possa ser identificada direta ou indiretamente, designadamente por
        referência a um número de identificação ou a um ou mais elementos específicos da sua identidade física,
        fisiológica, psíquica, económica, cultural ou social.
        <br>
        <br>
        QUEM É O RESPONSÁVEL PELO TRATAMENTO DE DADOS?
        <br>
        <br>
        A entidade responsável pela recolha e tratamento dos dados pessoais é cada uma das Áreas da H2HOthers que recebe
        as informações e que no contexto decide quais os dados recolhidos, os meios de tratamento dos dados e para que
        finalidades são utilizados.
        <br>
        <br>
        QUE TIPO DE DADOS PESSOAIS RECOLHEMOS?
        <br>
        <br>
        A H2HOthers no âmbito da sua atividade, procede à recolha e ao tratamento dos dados pessoais necessários à
        prestação de serviços e/ou fornecimento de produtos, tratando, nesse âmbito, dados como o nome, a morada, o
        número de telefone e o endereço de correio eletrónico.
        <br>
        <br>
        QUANDO E COMO RECOLHEMOS OS SEUS DADOS?
        <br>
        <br>
        A H2HOthers recolhe os dados pessoais através de dos seus websites, mediante o consentimento do respetivo
        titular.
        <br>
        <br>
        Alguns dados pessoais são de fornecimento necessário e, em caso de falta ou insuficiência desses dados, a
        H2HOthers poderá não disponibilizar a resposta em causa, pelo que informará o seu titular dessa circunstância.
        <br>
        <br>
        Se não é parceiro da H2HOthers, os seus dados pessoais apenas serão tratados se os disponibilizar,
        designadamente, se subscrever o envio de newsletters, caso em que se aplicarão as regras desta Política de
        Privacidade.
        <br>
        <br>
        Os dados pessoais recolhidos são tratados informaticamente e no estrito cumprimento da legislação de proteção de
        dados pessoais, sendo armazenados em base de dados específicas, criadas para o efeito e, em situação alguma, os
        dados recolhidos serão utilizados para outra finalidade que não seja aquela para a qual foi dado o consentimento
        por parte do titular dos dados.
        <br>
        <br>
        QUAIS AS FINALIDADES DO TRATAMENTO DOS DADOS PESSOAIS?
        <br>
        <br>
        Em geral, os dados pessoais recolhidos destinam-se ao fornecimento de informação, à prestação de serviços, à
        adequação às necessidades e interesses de cada Instituição, tendo em conta a gestão da relação com cada uma
        delas, à mobilização de voluntários para apoios e campanhas, a ações de formação e de marketing, bem como à
        inclusão nas listas de parceiros.
        <br>
        <br>
        Poderão, no entanto, ser disponibilizados dados pessoais para outras finalidades, tais como para os efeitos do
        envio de reclamações e sugestões, difusão de informações institucionais e/ou dar a conhecer campanhas,
        publicidade e notícias sobre a H2HOthers, bem como para a realização de estudos de mercado, inquéritos de
        satisfação e avaliação.
        <br>
        <br>
        Por ocasião da recolha de dados pessoais para essas finalidades, ser-lhe-ão prestadas informações mais
        detalhadas sobre a utilização que daremos aos mesmos.
        <br>
        <br>
        POR QUANTO TEMPO CONSERVAMOS OS SEUS DADOS PESSOAIS?
        <br>
        <br>
        O período de tempo durante o qual os dados são armazenados e conservados varia de acordo com a finalidade para a
        qual a informação é tratada.
        <br>
        <br>
        Efetivamente, existem requisitos legais que obrigam a conservar os dados por um período de tempo mínimo. Assim e
        sempre que não exista uma exigência legal especifica, os dados serão armazenados e conservados apenas pelo
        período mínimo necessário para as finalidades que motivaram a sua recolha ou o seu posterior tratamento findo o
        qual os mesmos serão eliminados.
        <br>
        <br>
        COMO PODERÁ ACEDER, RETIFICAR OU OPOR-SE AO TRATAMENTO DOS SEUS DADOS PESSOAIS?
        <br>
        <br>
        Nos termos da RGPD, é garantido ao titular dos dados, o direito de acesso, atualização, retificação ou
        eliminação dos seus dados pessoais, mediante pedido escrito endereçado ao Delegado de Proteção de Dados
        Pessoais.
        <br>
        <br>
        Poderá exercer estes direitos mediante pedido escrito dirigido à H2HOthers contactando o nosso Delegado de
        Proteção de Dados Pessoais enviando um e-mail para ual.h2hothers@gmail.com.
        <br>
        <br>
        COMO PODE OPOR-SE À RECEÇÃO DE CONTACTOS PARA FINS DE MARKETING?
        <br>
        <br>
        A H2HOthers pode promover ações de divulgação aos seus contactos e parceiros, de novas ideias e campanhas
        através de telefone, e-mail, SMS, ou qualquer outro serviço de comunicações eletrónicas, salvo se existe
        oposição expressa aquando a recolha dos dados.
        <br>
        <br>
        Caso não pretenda rececionar estas comunicações pode opor-se, a qualquer momento, à utilização dos seus dados
        devendo para tal, enviar pedido escrito dirigido ao Delegado para a Proteção de Dados Pessoais.
        <br>
        <br>
        QUAIS AS MEDIDAS ADOTADAS PELA H2HOthers PARA ASSEGURAR A SEGURANÇA DOS SEUS DADOS PESSOAIS?
        <br>
        <br>
        A H2HOthers assume o compromisso de garantir a proteção da segurança dos dados pessoais que nos são
        disponibilizados, tendo aprovado e implementado rigorosas regras nesta matéria. O cumprimento destas regras
        constitui uma obrigação indeclinável de todos aqueles que legalmente aos mesmos acedem.
        <br>
        <br>
        Tendo presente a grande preocupação e empenho que a H2HOthers revelam na defesa das questões de privacidade,
        foram adotadas diversas medidas de segurança, de carácter técnico e organizativo, de forma a proteger os dados
        pessoais que nos são disponibilizados contra a sua difusão, perda, uso indevido, alteração, tratamento ou acesso
        não autorizado bem como, contra qualquer outra forma de tratamento ilícito.
        <br>
        <br>
        Não obstante as medidas de segurança adotadas, alertamos todos os que navegam na Internet que devem adotar
        medidas adicionais de segurança designadamente, assegurar que utiliza um PC e um Browser atualizados em termos
        de “patches” de segurança adequadamente configurados, com firewall ativa, antivírus e anti-spyware e,
        certificar-se da autenticidade dos sites visitados na internet, devendo evitar websites em cuja reputação não
        confie.
        <br>
        <br>
        EM QUE CIRCUNSTÂNCIAS EXISTE COMUNICAÇÃO DE DADOS A OUTRAS ENTIDADES (TERCEIROS E SUBCONTRATADOS)?
        <br>
        <br>
        A H2HOthers , no âmbito da sua atividade, poderá recorrer a terceiros para a prestação de determinados serviços.
        Por vezes, a prestação destes serviços implica o acesso, por estas entidades, a dados pessoais dos nossos
        parceiros.
        <br>
        <br>
        Quando tal sucede, a H2HOthers toma as medidas adequadas, de forma a assegurar que as entidades que tenham
        acesso aos dados, são reputadas e oferecem as mais elevadas garantias a este nível, o que ficará devidamente
        consagrado e acautelado em contrato a assinar entre a H2HOthers e a(s) terceira(s) entidade(s).
        <br>
        <br>
        Assim, qualquer entidade subcontratada pela H2HOthers tratará os dados pessoais dos nossos parceiros, em nome e
        por conta da H2HOthers na obrigação de adotar as medidas técnicas e organizacionais necessárias de forma a
        proteger os dados pessoais contra a destruição, acidental ou ilícita, a perda acidental, a alteração, a difusão
        ou o acesso não autorizado e contra qualquer outra forma de tratamento ilícito.
        <br>
        <br>
        Em qualquer dos casos, a H2HOthers permanece responsável pelos dados pessoais que nos disponibilize.
        <br>
        <br>
        COMO PODE FICAR A CONHECER QUAISQUER ALTERAÇÕES À POLÍTICA DE PRIVACIDADE DA H2HOthers ?
        <br>
        <br>
        A H2HOthers reserva-se o direito de, a qualquer altura, proceder a reajustamentos ou alterações à presente
        Política de Privacidade, sendo essas alterações devidamente publicitadas no website

      </p>
    </div>
  </div>

  <div id="modalcookies" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Cookies </h1>
      <img src="/images/politica_cookies.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        Informação sobre os ficheiros de cookies
        <br>
        O que é um cookie?
        <br>
        <br>
        Um cookie é um pequeno ficheiro de texto que um site coloca no seu computador, telefone ou qualquer outro
        dispositivo com acesso à internet, contendo informação sobre a sua navegação nesse site.
        <br>
        <br>
        Os cookies retêm apenas informação relacionada com as suas preferências.
        <br>
        <br>
        Para que servem os ficheiros de cookies?
        <br>
        <br>
        Os cookies são utilizados para facilitar a navegação e torná-la mais simples e não danificam o seu dispositivo.
        Permitem uma navegação mais rápida e eficiente, eliminando a necessidade de introduzir repetidamente as mesmas
        informações.
        <br>
        <br>
        Que tipo de cookies existem?
        <br>
        <br>
        Os cookies são classificados pelo seu ciclo de vida e domínio a que pertencem. Relativamente ao ciclo de vida,
        os cookies podem ser:
        <br>
        <br>
        Cookies persistentes: ficam residentes no seu dispositivo de acesso à internet durante um determinado período de
        tempo;
        <br>

        Cookies de sessão: são temporários e são apagados do seu dispositivo de acesso à internet, quando o browser é
        fechado.
        <br>

        Quanto ao domínio a que pertencem, os cookies podem ser:
        <br>
        <br>
        Cookies próprios (First party cookies): são descarregados pelo website que está a visitar e partilham o mesmo
        domínio;
        <br>

        Cookies de terceiros (Third party cookies): são descarregados para o seu dispositivo de acesso à internet por
        websites de um domínio diferente daquele que está a visitar.
        <br>
        <br>

        Para que finalidades utilizamos cookies no nosso website?
        <br>
        <br>
        Os cookies no nosso website são utilizados para:
        <br>
        <br>
        Melhorar a experiência e a velocidade de navegação do visitante;
        Analisar padrões de tráfego na internet, permitindo-nos identificar problemas e fornecer uma experiência de
        navegação mais segura;
        <br>
        <br>
        Recolher estatísticas sobre o número de visitas e a forma como os visitantes navegam no nosso website;
        Permitir a partilha de conteúdo nas redes sociais.
        É possível desativar a utilização de cookies?
        <br>
        <br>
        Sim, os cookies podem ser desativados no seu navegador. Note-se, no entanto, que, ao desativar os cookies, pode
        impedir que alguns serviços da web funcionem corretamente, afetando, parcial ou totalmente, a navegação no
        website.
        <br>
        <br>
        Se pretende bloquear ou apagar os cookies deste site, pode fazê-lo modificando a configuração do seu navegador.
        Embora a parametrização de cada um seja diferente, é comum que se configure no menu de "Preferências" ou
        "Ferramentas". Para mais detalhes sobre a configuração dos cookies, consulte o menu "Ajuda" do seu navegador.​
        <br>
        <br>
        Considerações Finais
        <br>
        <br>
        A H2HOthers reserva-se o direito de alterar a presente Política de Cookies, pelo que aconselhamos a visita
        frequente a esta página.

      </p>
    </div>
  </div>

  <div id="modalcompras" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Compras </h1>
      <img src="/images/politica_compras.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        Cumprimento da legislação e regulamentação em vigor e dos procedimentos internos de governação aplicáveis à
        atividade das partes interessadas envolvidas;
        <br>
        <br>
        Adoção de uma política ambiental responsável que respeite o meio ambiente através da mitigação dos impactos
        adversos da sua atividade;
        <br>
        <br>
        Tratamento de igualdade, transparência e imparcialidade, garantindo um diálogo vantajoso e o respeito pelos
        compromissos firmados mutuamente;
        <br>
        <br>
        Disponibilização a todas as partes interessadas de canais de consulta e comunicação adequados;
        <br>
        <br>
        Adoção de uma conduta de integridade e de elevação moral e ética, sustentada pelo Código de Ética do Grupo H2HOthers,
        abstendo-se de quaisquer práticas de suborno, corrupção, extorsão ou fraude;
        <br>
        <br>
        Confidencialidade de toda a informação partilhada, assegurando a sua não transmissão a terceiros e o respeito
        entre as partes envolvidas;
        <br>
        <br>
        Eliminação de conflitos de interesse que prejudiquem a objetividade e a independência na tomada de decisões;
        <br>
        <br>
        Promoção do respeito pela dignidade e direitos humanos e rejeição de qualquer forma de trabalho forçado ou de
        trabalho infantil, perseguição, discriminação, abusos ou outros tipos de violência física ou psicológica;
        <br>
        <br>
        Satisfação dos requisitos estabelecidos em matéria de segurança, higiene e saúde no trabalho;
        <br>
        <br>
        Apoio ao desenvolvimento socio-económico das comunidades locais onde desenvolve a sua atividade;
        <br>
        <br>
        Fomento da melhoria contínua, inovação e partilha de boas práticas em matéria de eficiência, qualidade dos bens
        ou serviços e proposta de novas soluções/oportunidades de mercado.
        <br>
        <br>
      </p>
    </div>
  </div>

  <!-- Swiper JS -->

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


  <!-- Some Scripts for Swiper and Nav Button-->

  <script>
    const navItems = document.querySelector("#nav__items");
    const openNavBtn = document.querySelector("#open__nav-btn");
    const closeNavBtn = document.querySelector("#close__nav-btn");

    openNavBtn.addEventListener("click", () => {
      navItems.style.display = "flex";
      openNavBtn.style.display = "none";
      closeNavBtn.style.display = "inline-block";
    });

    const closeNav = () => {
      navItems.style.display = "none";
      openNavBtn.style.display = "inline-block";
      closeNavBtn.style.display = "none";
    };

    closeNavBtn.addEventListener("click", closeNav);

    // close nav menu

    if (window.innerWidth < 1024) {
      document.querySelectorAll("#nav__items li a").forEach((navItem) => {
        navItem.addEventListener("click", () => {
          closeNav();
        });
      });
    }

    var swiper = new Swiper(".mySwiper", {
      autoplay: { delay: 2000, },
      slidesPerView: 1,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },

      // Responsive Breakpoints
      breakpoints: {
        // when window width is >= 600px
        600: {
          slidesPerView: 2,
        },

        // when window width is >= 600px
        1024: {
          slidesPerView: 3,
        },
      },
    });
  </script>




  <!-- Main Script -->
  <script src="../js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/app.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>