<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="meusjavascripts/jquery-2.1.3.min.js" type="text/javascript"></script>

    <!-- CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.min.css" />
    
    <title>H2HOthers - Área Reservada</title>


        <!--  ICONSCOUT CDN  -->
        <link
          rel="stylesheet"
          href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
        />
    
        <!--  BOXICONS CDN   -->
        <link
          href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
          rel="stylesheet"
        />
    
    
        <!-- Google Icons -->
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        
</head>
<body>
    
    <nav>
        <div class="container">
        <a href="/"> <img src="../images/logo_final.png" alt="Card image" style="width:20%"></a>
        <h3>H2HOthers - Página do Voluntário - Registar </h3>

        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/Login">Login</a></li>
            <li><a href="/Registar">Registar</a></li>
        </ul>
        </div>
        </nav>
        
        <header>
        <video autoplay muted loop id="myVideo">
        <source src="../videos/h2hothers.mp4" type="video/mp4">
         Your browser does not support HTML5 video.
        </video>

        <div class="container">
            <div class="card">
                <div class="card-header">
                  
                    Formulário de Registo
                </div>
              {{#if message}}
              <p class="alert alert-danger mt-4">{{message}}</p>
              {{/if}}
                <img class="card-img-top" src="../images/logo5.png" alt="Card image" style="width:50%">
                <div class="card-body">
                    <form action="/auth/register" method="POST">
                        <div class="mb-3">
                          <label for="name" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="name" name="name">
                        </div>

                        <div class="mb-3">
                          <label for="email" class="form-label">Endereço de E-mail</label>
                          <input type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password">
                          </div>

                          <div class="mb-3">
                            <label for="passwordConfirm" class="form-label">Confirmar Senha</label>
                            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                          </div>

                        <button type="submit" class="btn btn-primary">Registar utilizador</button>
                      </form>
                </div>
              </div>



              </div>

            </header>
        
<!--Bootstrap-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/app.js"></script>
<script src="meusjavascripts/jquery-2.1.3.min.js" type="text/javascript"></script>


</body>

<footer>
    <div class="container">
      <article>
        <a href="#" class="footer__logo">
          <h3>H2HOthers</h3>
        </a>
        <p>
          Plataforma criada para fins académicos
        </p>
        <div>
          <i class="bx bxs-phone"></i>
          <small>+351 211111111</small>
        </div>
        <div>
          <i class="bx bx-mail-send"></i>
          <small>ual.h2hothers@gmail.com</small>
        </div>
      </article>

      <article>
        <h3>Suporte</h3>
        <a href="#modalprivacidade">Politica de Privacidade</a>
        <a href="#modalcookies">Politica de Cookies</a>
        <a href="#modalcompras">Politica de Compras</a>
      </article>

      <article>
        <h3>Menu</h3>
        <a href="#">Início</a>
      </article>

      <article>
        <h3>Contate-nos</h3>
        <div class="footer__socials">
          <a href="https://twitter.com/BrunoFe06353884" target="blank"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/H2HOthers" target="blank"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/ual.h2hothers/" target="blank"><i class="bx bxl-instagram"></i></a>
        </div>
        <li><a class="btn_admin" onclick="window.location.href ='login_admin';">Página do Administrador</a></li>
      </article>
    </div>
    <div class="copyright">
      <small>&copy; Copyright H2HOthers. All Rights Reserved.</small>
    </div>
  </footer>


  <div id="modalprivacidade" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Privacidade e Proteção de Dados pessoais</h1>
      <img src="/images/data_privacy.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        QUEM SOMOS?
        <br>
        <br>
        A H2HOthers atua na área da solidariedade social e tem como objectivos permitir às instituições da Zona de
        Lisboa melhorarem os serviços prestados aos beneficiários, mobilizar e facilitar o envolvimento da comunidade
        e outros que pretendam associar-se com a sua boa vontade, colocando à
        disposição das instituições de solidariedade social o seu trabalho, o seu conhecimento, a sua experiência, os
        produtos e serviços que produzem ou fornecem.
        <br>
        <br>
        A H2HOthers propõe-se assim contribuir para melhorar o desempenho das instituições interessadas, aumentando a
        eficiência dos seus recursos e permitindo um maior apoio às pessoas que assistem.
        <br>
        <br>
        Integram a H2HOthers a Bolsa do Voluntariado, o Banco de Bens Doados e o Banco de Associações inscritas e
        patrocinadores.
        <br>
        <br>
        A H2HOthers está empenhada em proteger os dados pessoais dos seus parceiros (Voluntários, Entidades,
        Instituições beneficiárias, Patrocinadores e outros, que com eles contactam ou interagem em todas as situações
        em
        que ocorra um tratamento de dados pessoais tendo, neste contexto, aprovado a presente Política de Privacidade, a
        qual tem subjacente o seu compromisso em respeitar as regras de proteção de dados pessoais, nos termos do novo
        Regulamento Geral sobre a Proteção de Dados (RGPD).
        <br>
        <br>
        PORQUÊ ESTA POLÍTICA DE PRIVACIDADE?
        <br>
        <br>
        Esta Política de Privacidade pretende dar a conhecer aos nossos parceiros (enumerados acima) as regras gerais de
        privacidade e tratamento dos seus dados pessoais, que recolhemos e tratamos no estrito respeito e cumprimento do
        RGPD.
        <br>
        <br>
        A H2HOthers respeita as melhores práticas no domínio da segurança e da proteção dos dados pessoais, tendo para o
        efeito aprovado um exigente programa, capaz de acautelar a proteção dos dados que nos são disponibilizados por
        todos aqueles que de alguma forma se relacionam com a instituição.
        <br>
        <br>
        A H2HOthers tem um Delegado para a Proteção dos Dados Pessoais, responsável pela implementação e verificação
        desta Política de Privacidade, bem como pela definição de regras claras de tratamento de dados pessoais,
        assegurando que todos os que nos confiam o tratamento dos seus dados pessoais, tenham conhecimento da forma como
        os mesmos são tratados e quais os direitos que lhes assistem nesta matéria.
        <br>
        <br>
        Leia, por favor, esta Política de Privacidade com atenção pois ao disponibilizar os seus dados pessoais, seja
        por escrito, por mail ou acedendo ao site, está a autorizar a recolha, uso e divulgação dos mesmos, de acordo
        com as regras aqui definidas.
        <br>
        <br>
        O QUE ABRANGE ESTA POLÍTICA DE PRIVACIDADE?
        <br>
        <br>
        Esta Política de Privacidade aplica-se exclusivamente à recolha e tratamento de dados pessoais efetuados pela
        H2HOthers.
        <br>
        <br>
        No website da H2HOthers poderá encontrar links de acesso a outros websites que são alheios à H2HOthers. A
        disponibilização de tais links é efetuada de boa fé, não podendo a H2HOthers ser responsabilizado pela recolha e
        tratamento de dados pessoais efetuados nesses websites, nem ser responsabilizado pela exatidão, credibilidade e
        funcionalidades de websites pertencentes a terceiros.
        <br>
        <br>
        Assim, a disponibilização de links para outros websites alheios à H2HOthers não implica qualquer assunção de
        responsabilidade relativamente a tais websites, não lhes sendo, por conseguinte aplicável a presente Política de
        Privacidade.
        <br>
        <br>
        O QUE SÃO DADOS PESSOAIS?
        <br>
        <br>
        Quando nos referimos a dados pessoais referimo-nos a qualquer informação, de qualquer natureza e
        independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou
        identificável.
        <br>
        <br>
        É considerada identificável a pessoa que possa ser identificada direta ou indiretamente, designadamente por
        referência a um número de identificação ou a um ou mais elementos específicos da sua identidade física,
        fisiológica, psíquica, económica, cultural ou social.
        <br>
        <br>
        QUEM É O RESPONSÁVEL PELO TRATAMENTO DE DADOS?
        <br>
        <br>
        A entidade responsável pela recolha e tratamento dos dados pessoais é cada uma das Áreas da H2HOthers que recebe
        as informações e que no contexto decide quais os dados recolhidos, os meios de tratamento dos dados e para que
        finalidades são utilizados.
        <br>
        <br>
        QUE TIPO DE DADOS PESSOAIS RECOLHEMOS?
        <br>
        <br>
        A H2HOthers no âmbito da sua atividade, procede à recolha e ao tratamento dos dados pessoais necessários à
        prestação de serviços e/ou fornecimento de produtos, tratando, nesse âmbito, dados como o nome, a morada, o
        número de telefone e o endereço de correio eletrónico.
        <br>
        <br>
        QUANDO E COMO RECOLHEMOS OS SEUS DADOS?
        <br>
        <br>
        A H2HOthers recolhe os dados pessoais através de dos seus websites, mediante o consentimento do respetivo
        titular.
        <br>
        <br>
        Alguns dados pessoais são de fornecimento necessário e, em caso de falta ou insuficiência desses dados, a
        H2HOthers poderá não disponibilizar a resposta em causa, pelo que informará o seu titular dessa circunstância.
        <br>
        <br>
        Se não é parceiro da H2HOthers, os seus dados pessoais apenas serão tratados se os disponibilizar,
        designadamente, se subscrever o envio de newsletters, caso em que se aplicarão as regras desta Política de
        Privacidade.
        <br>
        <br>
        Os dados pessoais recolhidos são tratados informaticamente e no estrito cumprimento da legislação de proteção de
        dados pessoais, sendo armazenados em base de dados específicas, criadas para o efeito e, em situação alguma, os
        dados recolhidos serão utilizados para outra finalidade que não seja aquela para a qual foi dado o consentimento
        por parte do titular dos dados.
        <br>
        <br>
        QUAIS AS FINALIDADES DO TRATAMENTO DOS DADOS PESSOAIS?
        <br>
        <br>
        Em geral, os dados pessoais recolhidos destinam-se ao fornecimento de informação, à prestação de serviços, à
        adequação às necessidades e interesses de cada Instituição, tendo em conta a gestão da relação com cada uma
        delas, à mobilização de voluntários para apoios e campanhas, a ações de formação e de marketing, bem como à
        inclusão nas listas de parceiros.
        <br>
        <br>
        Poderão, no entanto, ser disponibilizados dados pessoais para outras finalidades, tais como para os efeitos do
        envio de reclamações e sugestões, difusão de informações institucionais e/ou dar a conhecer campanhas,
        publicidade e notícias sobre a H2HOthers, bem como para a realização de estudos de mercado, inquéritos de
        satisfação e avaliação.
        <br>
        <br>
        Por ocasião da recolha de dados pessoais para essas finalidades, ser-lhe-ão prestadas informações mais
        detalhadas sobre a utilização que daremos aos mesmos.
        <br>
        <br>
        POR QUANTO TEMPO CONSERVAMOS OS SEUS DADOS PESSOAIS?
        <br>
        <br>
        O período de tempo durante o qual os dados são armazenados e conservados varia de acordo com a finalidade para a
        qual a informação é tratada.
        <br>
        <br>
        Efetivamente, existem requisitos legais que obrigam a conservar os dados por um período de tempo mínimo. Assim e
        sempre que não exista uma exigência legal especifica, os dados serão armazenados e conservados apenas pelo
        período mínimo necessário para as finalidades que motivaram a sua recolha ou o seu posterior tratamento findo o
        qual os mesmos serão eliminados.
        <br>
        <br>
        COMO PODERÁ ACEDER, RETIFICAR OU OPOR-SE AO TRATAMENTO DOS SEUS DADOS PESSOAIS?
        <br>
        <br>
        Nos termos da RGPD, é garantido ao titular dos dados, o direito de acesso, atualização, retificação ou
        eliminação dos seus dados pessoais, mediante pedido escrito endereçado ao Delegado de Proteção de Dados
        Pessoais.
        <br>
        <br>
        Poderá exercer estes direitos mediante pedido escrito dirigido à H2HOthers contactando o nosso Delegado de
        Proteção de Dados Pessoais enviando um e-mail para ual.h2hothers@gmail.com.
        <br>
        <br>
        COMO PODE OPOR-SE À RECEÇÃO DE CONTACTOS PARA FINS DE MARKETING?
        <br>
        <br>
        A H2HOthers pode promover ações de divulgação aos seus contactos e parceiros, de novas ideias e campanhas
        através de telefone, e-mail, SMS, ou qualquer outro serviço de comunicações eletrónicas, salvo se existe
        oposição expressa aquando a recolha dos dados.
        <br>
        <br>
        Caso não pretenda rececionar estas comunicações pode opor-se, a qualquer momento, à utilização dos seus dados
        devendo para tal, enviar pedido escrito dirigido ao Delegado para a Proteção de Dados Pessoais.
        <br>
        <br>
        QUAIS AS MEDIDAS ADOTADAS PELA H2HOthers PARA ASSEGURAR A SEGURANÇA DOS SEUS DADOS PESSOAIS?
        <br>
        <br>
        A H2HOthers assume o compromisso de garantir a proteção da segurança dos dados pessoais que nos são
        disponibilizados, tendo aprovado e implementado rigorosas regras nesta matéria. O cumprimento destas regras
        constitui uma obrigação indeclinável de todos aqueles que legalmente aos mesmos acedem.
        <br>
        <br>
        Tendo presente a grande preocupação e empenho que a H2HOthers revelam na defesa das questões de privacidade,
        foram adotadas diversas medidas de segurança, de carácter técnico e organizativo, de forma a proteger os dados
        pessoais que nos são disponibilizados contra a sua difusão, perda, uso indevido, alteração, tratamento ou acesso
        não autorizado bem como, contra qualquer outra forma de tratamento ilícito.
        <br>
        <br>
        Não obstante as medidas de segurança adotadas, alertamos todos os que navegam na Internet que devem adotar
        medidas adicionais de segurança designadamente, assegurar que utiliza um PC e um Browser atualizados em termos
        de “patches” de segurança adequadamente configurados, com firewall ativa, antivírus e anti-spyware e,
        certificar-se da autenticidade dos sites visitados na internet, devendo evitar websites em cuja reputação não
        confie.
        <br>
        <br>
        EM QUE CIRCUNSTÂNCIAS EXISTE COMUNICAÇÃO DE DADOS A OUTRAS ENTIDADES (TERCEIROS E SUBCONTRATADOS)?
        <br>
        <br>
        A H2HOthers , no âmbito da sua atividade, poderá recorrer a terceiros para a prestação de determinados serviços.
        Por vezes, a prestação destes serviços implica o acesso, por estas entidades, a dados pessoais dos nossos
        parceiros.
        <br>
        <br>
        Quando tal sucede, a H2HOthers toma as medidas adequadas, de forma a assegurar que as entidades que tenham
        acesso aos dados, são reputadas e oferecem as mais elevadas garantias a este nível, o que ficará devidamente
        consagrado e acautelado em contrato a assinar entre a H2HOthers e a(s) terceira(s) entidade(s).
        <br>
        <br>
        Assim, qualquer entidade subcontratada pela H2HOthers tratará os dados pessoais dos nossos parceiros, em nome e
        por conta da H2HOthers na obrigação de adotar as medidas técnicas e organizacionais necessárias de forma a
        proteger os dados pessoais contra a destruição, acidental ou ilícita, a perda acidental, a alteração, a difusão
        ou o acesso não autorizado e contra qualquer outra forma de tratamento ilícito.
        <br>
        <br>
        Em qualquer dos casos, a H2HOthers permanece responsável pelos dados pessoais que nos disponibilize.
        <br>
        <br>
        COMO PODE FICAR A CONHECER QUAISQUER ALTERAÇÕES À POLÍTICA DE PRIVACIDADE DA H2HOthers ?
        <br>
        <br>
        A H2HOthers reserva-se o direito de, a qualquer altura, proceder a reajustamentos ou alterações à presente
        Política de Privacidade, sendo essas alterações devidamente publicitadas no website

      </p>
    </div>
  </div>

  <div id="modalcookies" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Cookies </h1>
      <img src="/images/politica_cookies.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        Informação sobre os ficheiros de cookies
        <br>
        O que é um cookie?
        <br>
        <br>
        Um cookie é um pequeno ficheiro de texto que um site coloca no seu computador, telefone ou qualquer outro
        dispositivo com acesso à internet, contendo informação sobre a sua navegação nesse site.
        <br>
        <br>
        Os cookies retêm apenas informação relacionada com as suas preferências.
        <br>
        <br>
        Para que servem os ficheiros de cookies?
        <br>
        <br>
        Os cookies são utilizados para facilitar a navegação e torná-la mais simples e não danificam o seu dispositivo.
        Permitem uma navegação mais rápida e eficiente, eliminando a necessidade de introduzir repetidamente as mesmas
        informações.
        <br>
        <br>
        Que tipo de cookies existem?
        <br>
        <br>
        Os cookies são classificados pelo seu ciclo de vida e domínio a que pertencem. Relativamente ao ciclo de vida,
        os cookies podem ser:
        <br>
        <br>
        Cookies persistentes: ficam residentes no seu dispositivo de acesso à internet durante um determinado período de
        tempo;
        <br>

        Cookies de sessão: são temporários e são apagados do seu dispositivo de acesso à internet, quando o browser é
        fechado.
        <br>

        Quanto ao domínio a que pertencem, os cookies podem ser:
        <br>
        <br>
        Cookies próprios (First party cookies): são descarregados pelo website que está a visitar e partilham o mesmo
        domínio;
        <br>

        Cookies de terceiros (Third party cookies): são descarregados para o seu dispositivo de acesso à internet por
        websites de um domínio diferente daquele que está a visitar.
        <br>
        <br>

        Para que finalidades utilizamos cookies no nosso website?
        <br>
        <br>
        Os cookies no nosso website são utilizados para:
        <br>
        <br>
        Melhorar a experiência e a velocidade de navegação do visitante;
        Analisar padrões de tráfego na internet, permitindo-nos identificar problemas e fornecer uma experiência de
        navegação mais segura;
        <br>
        <br>
        Recolher estatísticas sobre o número de visitas e a forma como os visitantes navegam no nosso website;
        Permitir a partilha de conteúdo nas redes sociais.
        É possível desativar a utilização de cookies?
        <br>
        <br>
        Sim, os cookies podem ser desativados no seu navegador. Note-se, no entanto, que, ao desativar os cookies, pode
        impedir que alguns serviços da web funcionem corretamente, afetando, parcial ou totalmente, a navegação no
        website.
        <br>
        <br>
        Se pretende bloquear ou apagar os cookies deste site, pode fazê-lo modificando a configuração do seu navegador.
        Embora a parametrização de cada um seja diferente, é comum que se configure no menu de "Preferências" ou
        "Ferramentas". Para mais detalhes sobre a configuração dos cookies, consulte o menu "Ajuda" do seu navegador.​
        <br>
        <br>
        Considerações Finais
        <br>
        <br>
        A H2HOthers reserva-se o direito de alterar a presente Política de Cookies, pelo que aconselhamos a visita
        frequente a esta página.

      </p>
    </div>
  </div>

  <div id="modalcompras" class="modal-window">
    <div>
      <a href="#footer" title="Close" class="modal-close">Fechar</a>
      <h1>Politica de Compras </h1>
      <img src="/images/politica_compras.jpg" alt="Header Image" />
      <p>
        <br>
        <br>
        Cumprimento da legislação e regulamentação em vigor e dos procedimentos internos de governação aplicáveis à
        atividade das partes interessadas envolvidas;
        <br>
        <br>
        Adoção de uma política ambiental responsável que respeite o meio ambiente através da mitigação dos impactos
        adversos da sua atividade;
        <br>
        <br>
        Tratamento de igualdade, transparência e imparcialidade, garantindo um diálogo vantajoso e o respeito pelos
        compromissos firmados mutuamente;
        <br>
        <br>
        Disponibilização a todas as partes interessadas de canais de consulta e comunicação adequados;
        <br>
        <br>
        Adoção de uma conduta de integridade e de elevação moral e ética, sustentada pelo Código de Ética do Grupo H2HOthers,
        abstendo-se de quaisquer práticas de suborno, corrupção, extorsão ou fraude;
        <br>
        <br>
        Confidencialidade de toda a informação partilhada, assegurando a sua não transmissão a terceiros e o respeito
        entre as partes envolvidas;
        <br>
        <br>
        Eliminação de conflitos de interesse que prejudiquem a objetividade e a independência na tomada de decisões;
        <br>
        <br>
        Promoção do respeito pela dignidade e direitos humanos e rejeição de qualquer forma de trabalho forçado ou de
        trabalho infantil, perseguição, discriminação, abusos ou outros tipos de violência física ou psicológica;
        <br>
        <br>
        Satisfação dos requisitos estabelecidos em matéria de segurança, higiene e saúde no trabalho;
        <br>
        <br>
        Apoio ao desenvolvimento socio-económico das comunidades locais onde desenvolve a sua atividade;
        <br>
        <br>
        Fomento da melhoria contínua, inovação e partilha de boas práticas em matéria de eficiência, qualidade dos bens
        ou serviços e proposta de novas soluções/oportunidades de mercado.
        <br>
        <br>
      </p>
    </div>
  </div>

    
</html>